/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$headings-font-family: Open Sans;
$font-family-base: Open Sans;

$navbar-fg: #ffffff;
$body-bg: #ffffff;
$navbar-bg: #153331;
$body-color: #404040;
$link-color: #1E6E6E;
$link-hover-color: #9FC2B9;
$navbar-hl: #ffffff;

